<h1>Display Lists</h1>

<h3>List of Lists</h3>
<% @lists.each do |list| %>
<p><%= link_to list.name, list_path(list)  %></p>
<% end %>

<%= link_to 'Create New List', new_list_path, class: 'button' %>

<h3>List of all Movies</h3>
<% @movies.each do |movie| %>
<p><%= movie.title  %></p>
<% end %>

<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("https://res.cloudinary.com/dpvwejoeb/image/upload/v1689243760/of4rymz7ylfpvylxvi4s.jpg",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("IMAGE_WITH_FACE_ID",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>


<!--
pe
<%=  %>
er
<%  %>
